/* admin.php */
.phlox-left-panel{
	width: 45%;
	background-color: #ffffff; 
	float: left;
	margin-right: 20px;
}
.phlox-right-panel{
	width: 52%;
	background-color: #ffffff;
	float: left;
}
@media screen and (max-width: 695px){
    .phlox-right-panel{
    	width: 95%;
    }
    .phlox-left-panel{
    	width: 95%;
    }
}
.phlox-common-head{
	border: 1px solid #f1f1f1;
    background-color: #e7e7e7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.phlox-heading-h2{
    padding-left: 10px;
    margin: 0.8em;
}
.phlox-left-content-btn{
	background-color: #fafafa;
    padding: 10px;
    margin: 15px;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    font-weight: 400;
}
.phlox-add-btn{
	float: right;
    margin-top: -0.3em !important;
}
.phlox-right-content{
	padding: 10px 20px 10px 20px;
}

.phlox-font-awesome{
	position: relative;
    top: 4px;
    color: #e64c3c;
}
.phlox-optval-input{
	width: 46%;
    margin-top: 5px;
}
@media screen and (max-width: 1235px){
    .phlox-optval-input{
    	width: 42%;
        margin-top: 5px;
    }
}
.phlox-fcond{
	width: 20%;
}

/* For Collapseable Content */
.phlox-collapsible {
	background-color: #f3f3f3;
	color: black;
	cursor: pointer;
	padding: 14px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	align-items: flex-start;
	box-sizing: border-box;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	margin: 0em;
	font: 400 13.3333px Arial;
	border: .1rem solid #ddd;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.phlox-collapsible:after {
	/*content: '\002B';*/
	color: #818182;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	font-size: 16px;
}

.active:after {
  /*content: "\2212";*/
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Input and Select Fields */
.phlox-input{
	width: 80%;
}

.phlox-savediv{
    width: 97%;
    float: left;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.background-loader {
	background-color: hsl(0, 15%, 90%);
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.image-laoding {
	border-radius: 3px;
	height: auto;
	left: 50%;
	opacity: 0.99;
	padding: 3px;
	position: fixed;
	top: 40%;
	width: auto;
	z-index: 100001;
}


/* Style the tab */
.tab {
    float: left;
    background-color: #23282d;
    width: 25%;
    height: 300px;
    padding-top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 15px 0px 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: black;
}

/* Create an active/current "tab button" class */
.tab button.activee {
    background-color: #0073aa;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 30px;
    border-top: 1px solid #ccc;
    width: 65%;
    border-left: none;
}

.activee::before {
    border: 9px solid #0073aa;
    content: " ";
    height: 0;
    width: 0;
    float: right;
    pointer-events: none;
    border-right-color: #fff;
}
.phlox-set{
	width: 100%;
    display: -webkit-box;
    padding-top: 20px;
}
.phlox-set-logo{
	width: 25%;
    background: #0073aa;
}
.phlox-set-content{
	width: 65%;
}
.phlox-set-p{
	padding: 0px 30px;
}
.phlox-set-content h1{
	padding: 0;
    text-align: center;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.0em;
    font-weight: 400;
}
.phlox-set-img{
	width: 100%;
    padding: 8px 1px;
}
.phlox-set-img-heading{
	text-align: center;
    padding: 10px;
    margin: 0px;
    color: white;
    line-height: 23px;
}
.phlox-content-heading{
	background: white;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-radius: 5px;
}
.phlox-input-label{
	width: 50%; 
}
.phlox-form-element{
	width: 100%; 
	display: -webkit-box;	
	padding-bottom: 2em;
}
.phlox-input-set{
	width: 50%; 
	padding-top: 35px;
}
.phlox-input-element{
	width: 100%;
    background: rgba(255, 255, 255, 0.71);
    line-height: 1.75em;
    padding-left: 0.75em;
}
.phlox-red{
	color: red;
}
.half {
    width: 47% !important;
    margin-right: 3% !important;
    float: left;
}
.full {
    width: 97% !important;
    float: left;
    margin-right: 3% !important;
}
#ui-datepicker-div {
    font-size: 12px !important;
}
.g-recaptcha{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.tablinks > span {
    padding-right: 20px;
}